---
---

@import "{{ site.theme }}";
#header_wrap {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , rgba(0, 90, 90, 1), #212121) repeat scroll 0 0;
}
form {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 20px;
}
.outer {
    width: 100%;
}
.inner {
    margin: 0 auto;
    max-width: 680px;
    padding: 20px 10px;
    position: relative;
}
